{% extends 'base.html' %}
{% load static %}
{% block content %}

    <header class="header">
        <div class="arrow-back">
            <a href="{% url 'index' %}">
                <img src="{% static 'img/leftarrow.svg' %}" alt="Back" title="Back to menu">
            </a>
        </div>
        <div class="title">
            <h3>Forum</h3>
        </div>
    </header>
    <section class="container">
        <div class='search'>
<!--            <img class="fas" src="./../../media/img/loupe.svg" alt="">-->
            <input type='search' placeholder="Search...">
            <div class="search-button">
                <button class="common-button">Search</button>
            </div>
        </div>
        <div class="edit-button row-col-1">
            <button class="common-button col-2" type="button" data-bs-toggle="modal" data-bs-target="#addpost">Add
                post</button>
        </div>
    </section>
    <section class="container">
        <div class="row">
            <div class="post-cards ">
                <div class="post-card ">
                    <div class="post-card-header row align-items-center">
                        <div class="small-photo col-2"><img src="{% static 'img/user.jpeg' %}" alt="User-photo"></div>
                        <div class="post-card-header-info col-6">
                            <div class="traveller-info">
                                <span class="name-surname">Name Surname</span><span>,</span>
                                <span class="county-name">Russia</span>
                            </div>
                            <div class="post-card-country">
                                <span class="country-destination">Destination: </span>
                                <span class="country-destination">Spain</span>
                            </div>
                        </div>
                    </div>
                    <div class="post-card-content">
                        <div class="post-card-content-text">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro sunt expedita
                                exercitationem
                                incidunt. Fugit sint vel accusantium corrupti eos ea. Quaerat dicta consectetur,
                                nesciunt
                                quas, ad officia adipisci qui velit iure, accusantium ea fuga quasi eveniet ipsa! Fugit,
                                laudantium vitae reprehenderit est veniam deserunt, architecto commodi voluptate nam
                                atque
                                adipisci unde eos. Laboriosam reprehenderit necessitatibus cupiditate voluptate iusto,
                                eligendi quam, perspiciatis voluptatibus accusamus sapiente sint blanditiis. Culpa,
                                voluptas
                                dicta totam porro omnis sint, aperiam repellat aliquid animi nihil cupiditate voluptate
                                est
                                dolores, nobis explicabo facilis quos quia odit a. Libero illum ipsum nisi vero,
                                delectus id
                                tenetur exercitationem officia possimus.</p>
                        </div>
                        <div class="post-card-content-photos">

                        </div>
                    </div>
                    <div class="post-card-footer">
                        <div class="post-card-icons">
                            <img src="https://img.icons8.com/metro/26/000000/like.png" />
                            <span class="count-likes">1052</span>
                            <img src="https://img.icons8.com/material-outlined/24/000000/topic--v1.png"/>
                            <span class="count-comments">0</span>
                        </div>
                        <div class="post-card-date">
                            <span class="date-create">08/08/2020</span>
                        </div>
                    </div>
                </div>
                <div class="post-card ">
                    <div class="post-card-header row align-items-center">
                        <div class="small-photo col-2"><img src="{% static 'img/user.jpeg' %}" alt="User-photo"></div>
                        <div class="post-card-header-info col-6">
                            <div class="traveller-info">
                                <span class="name-surname">Name Surname</span><span>,</span>
                                <span class="county-name">Russia</span>
                            </div>
                            <div class="post-card-country">
                                <span class="country-destination">Destination: </span>
                                <span class="country-destination">Spain</span>
                            </div>
                        </div>
                    </div>
                    <div class="post-card-content">
                        <div class="post-card-content-text">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro sunt expedita
                                exercitationem
                                incidunt. Fugit sint vel accusantium corrupti eos ea. Quaerat dicta consectetur,
                                nesciunt
                                quas, ad officia adipisci qui velit iure, accusantium ea fuga quasi eveniet ipsa! Fugit,
                                laudantium vitae reprehenderit est veniam deserunt, architecto commodi voluptate nam
                                atque
                                adipisci unde eos. Laboriosam reprehenderit necessitatibus cupiditate voluptate iusto,
                                eligendi quam, perspiciatis voluptatibus accusamus sapiente sint blanditiis. Culpa,
                                voluptas
                                dicta totam porro omnis sint, aperiam repellat aliquid animi nihil cupiditate voluptate
                                est
                                dolores, nobis explicabo facilis quos quia odit a. Libero illum ipsum nisi vero,
                                delectus id
                                tenetur exercitationem officia possimus.</p>
                        </div>
                        <div class="post-card-content-photos">

                        </div>
                    </div>
                    <div class="post-card-footer">
                        <div class="post-card-icons">
                            <img src="https://img.icons8.com/metro/26/000000/like.png" />
                            <span class="count-likes">102</span>
                            <img src="https://img.icons8.com/material-outlined/24/000000/topic--v1.png"/>
                            <span class="count-comments">0</span>
                        </div>
                        <div class="post-card-date">
                            <span class="date-create">08/01/2020</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="modal fade" tabindex="-1" id="addpost">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">ADD POST</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="container-fluid">
                    <div class="modal-body">
                        <form class="row g-3">
                            <div class="mb-3 row">
                                <textarea class="form-control" id="aboutInfo" style="height: 100px"></textarea>
                            </div>
                            <div class="col-12">
                                <label for="formFile" class="form-label">Add your photo</label>
                                <input class="form-control" type="file" id="formFile">
                            </div>
                            <div class="modal-footer">
                                <button class="common-button col-3 justify-content-end" type="submit"
                                    data-bs-toggle="modal" data-bs-target="#addpost">ADD</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}